{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Cadastrar</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/roboto-font.css'%}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-5/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body class="form-v5">
	<div class="page-content">
		<div class="form-v5-content">
			<form class="form-detail" method="post" autocomplete="off">
                {% csrf_token %}
				<h2>Formulário de Cadastro de Pessoas</h2>
				<div class="form-row">
					<label for="nome">Nome</label>
					<input type="text" name="nome" id="nome" class="input-text" placeholder="Nome" required value="{{ nome }}">
				</div>
                <div class="form-row">
					<label for="sobrenome">Sobrenome</label>
					<input type="text" name="sobrenome" id="sobrenome" class="input-text" placeholder="Sobrenome" required value="{{ sobrenome }}">
				</div>
                <div class="form-row">
					<label for="idade">Idade</label>
					<input type="number" name="idade" id="idade" class="input-text" placeholder="Idade" required>
				</div>
                <div class="form-row">
					<label for="data_nascimento">Data de Nascimento</label>
					<input type="date" name="data_nascimento" id="data_nascimento" class="input-text" placeholder="Data de nascimento" required>
				</div>
				<div class="form-row">
					<label for="email">Email</label>
					<input type="text" name="email" id="email" class="input-text" placeholder="Email" required pattern="[^@]+@[^@]+.[a-zA-Z]{2,6}">
				</div>
                <div class="form-row">
					<label for="apelido">Apelido</label>
					<input type="text" name="apelido" id="apelido" class="input-text" placeholder="Apelido">
				</div>
                <div class="form-row">
					<label for="observacao">Observação</label>
					<input type="text" name="observacao" id="observacao" class="input-text" placeholder="Observação">
				</div>
				<div class="form-row-last">
					<input type="submit" name="cadastrar" class="register" value="Cadastrar">
				</div>
			</form>
            <script>
            {% if messages %}
                {% for m in messages %}
                     alert('{{m}}');
                {% endfor %}
            {% endif %}
            </script>
		</div>
	</div>
</body>
</html>